POSTGRES_DB=cloudops360
POSTGRES_USER=cloudops
POSTGRES_PASSWORD=change_me

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=cloudops360
DATABASE_USER=cloudops
DATABASE_PASSWORD=change_me

NODE_ENV=production
PORT=5000